// http://paletton.com/#uid=52P0u0kfhEg5sWeayOijuvdnrri
@import './_helper.scss';
@import url('https://fonts.googleapis.com/css?family=Share');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

$title-size: 65px;
$title-size-sm: $title-size - 10px;
$link-size: 35px;
$regular-link-size: 21px;
$error: red;
$success: #4bb543;
$linkit-green: darken(#9DEB9D, 20%);
$linkit-green-soft: desaturate($linkit-green, 30%);
$modal-width: 500px;

*
{
    font-family: 'Share';
}

a
{
    text-decoration: none;
}

body
{
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 50px;
}

.linkit-home, .linkit-new, .heading, .nav, .options, .linkit-post-form
{
    display: flex;
}

.linkit-home, .linkit-new, .options, .linkit-post-form
{
    flex-direction: column;
}

.user-controls, .user-changes
{
    display: none;
    @media screen and (min-width: $medium)
    {
        display: flex;
        flex-direction: column;
    }   
}

.nav
{
    flex-direction: column;
    margin-bottom: 1em;
}

%sticky
{
    background-color: black;
    position: fixed;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    z-index: 1000;
    & > div
    {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
}

.linkit-mobile-nav
{
    @extend %sticky;
    top: 0;
}

.linkit-mobile-footer
{
    @extend %sticky;
    bottom: 0;
}

.linkit-mobile-photo
{
    width: 36px!important;
    height: 36px!important;
    margin-bottom: 0!important;
}

.linkit-header
{
    margin-top: 70px;
    @media screen and (min-width: $medium)
    {
        margin-top: 0;
    }
}

.title
{
    font-size: $title-size-sm;
    text-align: center;
    &:hover
    {
        cursor: pointer;
    }
    @media screen and (min-width: $medium)
    {
        display: inline-block;
        text-align: left;
        margin-left: 0.6em;
        font-size: $title-size;
    }
}

.colored
{
    color: $linkit-green;
}

.active
{
    color: darken($linkit-green, 5%);
}

%actionable
{
    display: inline-flex;
    align-items: center;
    &:hover
    {
        cursor: pointer;
    }
}

.linkit-action
{
    @extend %actionable;
    padding: 0px 12px 0px 0px;
    & > *
    {
        margin-left: 0.4em;
        text-align: left;
    }
    &:hover
    {
        box-shadow: 4px 4px 8px 4px rgba(0,0,0,0.1);
        color: saturate($linkit-green, 20%);
    }
}

.linkit-post-title
{
    color: $linkit-green-soft;
    font-size: 2.7em;
    &:hover
    {
        text-decoration: underline;
    }
}

.linkit-post-action
{
    @extend %actionable;
    & > *
    {
        margin-right: 0.1em;
    }
}

.normal-link
{
    font-size: $regular-link-size;
    cursor: pointer;
}

.linkit-post
{
    box-shadow: 4px 4px 8px 4px rgba(0,0,0,0.1);
    transition: 0.3s;
    margin-bottom: 0.3em;
    padding-bottom: 1.4em;
    &:hover
    {
        box-shadow: 8px 8px 16px 8px rgba(0,0,0,0.2);
    }
}

%vote
{
    cursor: pointer;
    font-size: $regular-link-size;
    margin: 0;
    padding: 0;
}

.upvote
{
    @extend %vote;
    &:hover
    {
        color: #4EC74E;
    }
}

.downvote
{
    @extend %vote;
    &:hover
    {
        color: rgb(37, 162, 219);
    }
}

.report
{
    @extend %vote;
    &:hover
    {
        color: $error;
    }
}

.upvoted
{
    color: #2FAE2F;
}

.downvoted
{
    color: rgb(0, 138, 202);
}

.linkit-profile-photo
{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-bottom: 20px;
}

.linkit-form
{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    @media screen and (min-width: $medium)
    {
        flex-direction: row;
        width: 80%;
    } 
}

.input
{
    text-align: center;
    border: none;
    margin-right: 10px;
    margin-bottom: 10px;
    box-shadow: 4px 4px 8px 4px rgba(0,0,0,0.1);
    font-size: 1.4em;
    @media screen and (min-width: $medium)
    {
        width: 80%;
    }
}

.linkit-button
{
    align-self: center;
    cursor: pointer;
    color: white;
    background-color: #4EC74E;
    border-style: none;
    border-radius: 6px;
    font-size: 20px;
    margin-top: 20px;
    padding: 6px;
    width: 30%;
    @media screen and (min-width: $medium)
    {
        width: 15%;
    }
}

.linkit-error-title, .linkit-success-title
{
    font-size: 3em;
    @media screen and (min-width: $medium)
    {
        width: $modal-width;
    }
}

.linkit-success-message, .linkit-error-message
{
    font-size: 1.2em;
    color: black;
}

.linkit-error-title
{
    color: $error;
}

.linkit-success-title
{
    color: $success;
}